/2222_parameter.json
/OneDrive_2_24.12.2025
/OneDrive_2_24.12.2025.zip
/systems.json
/tec 20
/tec 5
/projects
/Diagrams
/proj_new
/projects_old
Правила.docx
Сигналы.xlsx
/vizualizer/server/tables
h_WATER_STEAM_PROP.xlsx
p_s_h_WATER_STEAM_PROP.xlsx
p_s_y_WATER_STEAM_PROP.xlsx
h_WATER_STEAM_PROP.xlsx
s_WATER_STEAM_PROP.xlsx
v_WATER_STEAM_PROP.xlsx
y_WATER_STEAM_PROP.xlsx
h_WATER_STEAM_PROP.xlsx
s_WATER_STEAM_PROP.xlsx
v_WATER_STEAM_PROP.xlsx
y_WATER_STEAM_PROP.xlsx
y_WATER_STEAM_PROP.xlsx
v_WATER_STEAM_PROP.xlsx
s_WATER_STEAM_PROP.xlsx
h_WATER_STEAM_PROP.xlsx
h_WATER_STEAM_PROP.xlsx
s_WATER_STEAM_PROP.xlsx
v_WATER_STEAM_PROP.xlsx
y_WATER_STEAM_PROP.xlsx
vizualizer/server/__pycache__/export.cpython-313.pyc
vizualizer/server/__pycache__/main.cpython-313.pyc
formula_templates.json
output.json
